.resume {
	width: 80vw;
	min-height: 110vw;
	display: flex;
	flex-direction: column;
	padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/killme.png");
    background-size: 50%;
    background-repeat: repeat;
}

.page {
	display: flex;
	flex-direction: row;
	height: auto;
	margin-top: 15px;
}

.left {
	width: 60vw;
	height: auto;
	border-right: 3px solid #000000;
	padding-right: 15px;
	margin-right: 15px;
}