@import 'themes.scss';

.resume {
	display: flex;
	flex-direction: column;
	padding: 20px;
    margin-left: auto;
	margin-right: auto;
	
	.heading {
		padding-right: 15px;
	}
}

.page {
	display: flex;
	flex-direction: row;
	height: auto;
	margin-top: 15px;
}

.name {
	font-size: 4em;
	opacity: 0.5;
	position: absolute;
	@include themify($themes) {
		color: themed('nameColor');
	}
}

.resumeBackground {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/killme.png");
	background-size: 50%;
	background-repeat: repeat;
	@include themify($themes) {
		filter: themed('backgroundFilter');
	}
}