.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
h1 {
            background: linear-gradient(to right, orange , yellow, cyan, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 36px !important;
}

h2 {
		background: linear-gradient(to right, violet, cyan, yellow, orange );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 24px !important;
}

body{
    background-image: url("../images/halp.PNG");
    background-size: 8%;
    background-repeat: repeat;
    font-size: 12px !important;
}

label{
    color: red;
    background-color: white;
}